div{
	display: block;
}

.left {
	float: left;
}
.container {
	margin: 3px auto;
	width: 798px;
}
.content {
	width: 574px;
	float: left;
}
.clear {
    clear: both;
}

.menu {
	height: 1000px;
	background-color: #DA202C;
	width: 220px;
}
.top {
	height: 120px;
	background-color: #DA202C;
}
.topmenulist {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 20px;
}
.topmenu {
	height: 20px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	margin-top: 33px;
}
.topmenulink {
	display: inline;
	padding-right: 20px;
	text-transform:uppercase;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial;
	letter-spacing: 2px;
}


ul {
	color: white;
}

li {
	list-style-type: none;
}

li a {
	text-decoration: none;
	color: white;	
}
p a {
	text-decoration: none;
	color: white;	
}

.info {
	padding-left: 10px;
	font-size: 11px;
	text-transform:uppercase;
	font-family: Arial;
	letter-spacing: 4px;
	font-weight: bold;
}
.infomenu {
	padding-left: 10px;
	font-size: 11px;
	font-family: Verdana;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px dotted white;
}
.infomenulist {
	padding-left: 10px;
	font-family: Verdana;
	padding-top: 2px;
	padding-bottom: 2px;
}

body{
	margin: auto;
}
.columns {
	display: inline-block;
	width: 574px;
	clear: both;
}
.firstColumn {
	width: 154px;
}
.description {
	background-color: #66FFCC;
	font-weight: bold;
	font-size: 12px;
	padding: 2px;
	text-transform:uppercase;
	font-family: Arial;
	letter-spacing: 2px;
}
.offerPicture {
	display:block;
	margin: auto;
	padding: 3px;
}
.undernote {
	font-size: 11px;
	padding: 2px;
}
.column {
	padding: 10px;
	margin-top: 10px;
	margin-left: 5px;
}
.double {
	display: inline-block;
	clear: both;
	width: 370px;
}
.doubleundernote {
	font-size: 11px;
	padding: 2px;
	float: left;
	width: 254px;
}
.doublePicture {
	padding: 1px;
	width: 106px;
	float: left;
}
.secondColumn {
	width: 370px;
}